<% @current_challenges.each do |challenge| %>
  <div class="challenge-box">
    <!-- Assumption that time stamps will work as shown
         YYYY/MM/DD-->
    <% if Time.current < challenge.end_time %>
      <% challenge.title %>
      <% challenge.wager %>
      <p><a href=<%= "/users/#{@user.id}/challenges/#{challenge.id}" %>>Click for details</a></p>
      <% challenge.end_time - challenge.start_time %>
    <% end %>
  </div>
<% end %>
