<div class="container">
  <div class="header clearfix">
    <nav class="nav">
      <h3 class="text-muted logo">Bet Me</h3>
      <ul class="nav nav-pills pull-right">
        <% if current_user %>
          <li role="presentation">
            <a href="/user/profile">Profile</a>
          </li>
          <li role="presentation">
            <a href="/challenges/new">Create Challenge</a>
          </li>
          <li role="presentation">
            <a href="/challenges">All Challenges</a>
          </li>
          <li role='presentation'>
            <a href="/user/logout">Log Out</a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<hr/>
