/**

  Sick log in css

 **/


*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: rgba(19, 35, 47, 0.9);
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 400px;
  max-height: 600px;
  margin: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  float: right;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 15px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 20px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 320px;
  height: 58px;
  margin-bottom: 10px;
  text-align: center;
  cursor:pointer;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

#file {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;


}


/**

  Index css

**/

.footer {
  background-image: url(https://static.pexels.com/photos/29203/pexels-photo-29203.jpg);
  background-size: cover;
}

.bottom-footer {
    width: 100%;
    background-color: rgba(19, 35, 47, 0.9);
    color: #fff;
    padding: 5%;
    clear: both;
}

.office {
  max-width: 25%;
  float:left;
}

#map{
  display: flex;
  justify-content: flex-end;
  color: black;
}

.button-block span {
      margin-left: 20%;
}

.about {
  float: left;
  margin: 3% 0% 3% 10%;

}

#currentPhoto {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

#nav {
  background: rgba(19, 35, 47, 0.9);
  color: #1ab188;
}

.title {
  color: rgba(19, 35, 47, 0.9);
  font-size: 28px;
  text-align: left;
}

.challenge {
  margin: auto;
  width: 60%;
  border: 3px;
  padding: 10px;

}

.new {
  color: rgb(255, 255, 255);
}

.individual {
  margin: auto;
  width: 60%;
  border: 3px;
  padding: 10px;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

#friends {
  padding-bottom: 40px;

}

.btn-group {
  padding-bottom: 5%;
}

.daterange {
  padding: 10px;
}

.date-label {
  padding-top: 0 !important;
}

.body-left {
  float: left;
}

.body-right {
  display: inline-block;
  padding-left: 10%;
  padding-top: 5%;
  color: white;
}

.challenges-list {
  clear: both;
  color: white;
}

.challenge-box {
  background: #1ab188;
  width: 80%;
  border-radius: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  color: white;
}

.challenge-left {
  padding-left: 50px;
}

.challenge-right {
  padding-right: 50px;
}

.challenge-box a {
  color: black;
  text-decoration: none !important;
}

.challenge-box a:hover {
  color: yellow;
}

.challenge-body-right {
  padding-top: 10%;
  padding-left: 2%
}

.challenge-body-left {
  float: left;
  display: inline-block;
  color: white;
}

.challenge-bottom {
  clear: both;
  padding-top: 2%;
  color: white;
}

.challenge-desc {
  padding-bottom: 10%;
  color: white;
}

.desc {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.total-votes {
}

.success {
  color: yellow;
}

.fail {
  color: red;
}

.proof-photo {
  opacity: 0;
}

.proof-title {
  text-align: center;
  width: 100%;
  color: white;
}

.proof-photo {
  cursor: pointer;
}

.vote-buttons {
  padding-top: 2%;
}

#proof_photo {
  height: 400px;
  width: 400px;
  object-fit: cover;
}