body {
  margin: 0;
  background: #c1bdba;
  color:#555;
  font-family: sans-serif;
}

.challenge-box-page-header {
	font-size: 24px;
	background: #337ab7;
	border-radius: 15px;
	border: 2px solid black;
	color:white;
	width: 700px;
  height: 250px;
  margin: 2%;
}

.main_header{
	font-size:48px;
	text-align: center;
	clear:both;
}

.body_header{
	font-size:28px;
}

.stat_body{
	font-size:20px;
}

.wager_header {
	float:right;
	font-size:60px;
}

.time_header {
	float:right;
}

button {
	border: 2px solid white;
	background-color: transparent;
}

.text-muted {
	font-size: 35px;
}
