<div>
  <div>
    <h1 class="page-header">Current Challenges</h1>
      <%= erb :'partials/_current_challenges' %>
    <h1 class="page-header">All Past Challenges</h1>
      <%= erb :'partials/_expired_challenges' %>
  </div>
</div>